body {
	background-color: transparent; 
	background: "unit_1/images/creative-graphic-design-desk-000091881605_Medium.jpg"
	background-size: cover;
	font-family: Helvetica;
	text-align: center;}
h1,p{color:white; font-family: Arial,sans serif;}