body {
	text-align: center;
	vertical-align: middle;
	background-color: transparent; 
	background:  url("../images/creative-graphic-design-desk-000091881605_Medium.jpg");
	background-size: cover;
	font-family: Helvetica;
}

h1,p {
	color:#FFF; 
	background: #000;
	font-family: Arial,sans serif;
	padding:7px;
	display:inline-block; 
}