@import url(https://fonts.googleapis.com/css?family=Peddana);
@import url(https://fonts.googleapis.com/css?family=Oswald:700);
* {
    box-sizing: border-box;
    margin-left: none;
}

.main {
    width: 100%;
    float: left;
    padding: 250px;
    border: none;
}

.header {
    border: none;
    left:0;
  	right:0;
    padding: 15px;
    background: rgba(00, 80, 80, 0.5);
}

#footer {
    font-family: 'Oswald', sans-serif;
    position:absolute;
    bottom:0;
    width:100%;
    float: left;
    height:60px;
    background:#6cf;
}

body {
	text-align: center;
	vertical-align: middle;
	background-color: transparent; 
	background:  url("../images/office_desk_table_with_computer_supplies_and_flower_000063352815_Medium.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	font-family: Helvetica;
}

h1 {
    font-family: 'Oswald', sans-serif;
  	color: #000000;
  	font-size: 50px;
    font-weight: bolder;
  	text-align: center;
}

h2 {
  font-family: 'Oswald', sans-serif;
  color: #000000;
  font-size: 30px;
  text-align: left;
  text-shadow: 1px 1px 0px #000000, 4px 4px 0px rgba(0,0,0,0.15);
}

p {
  font-family: 'Peddana', serif;
  color: #000000;
  font-size: 25px;
  text-align: center;
  margin-left: 70px;
  margin-right: 70px;
  line-height: 25px;
}

.dimmed {
  position: center;
}

.dimmed:after {
  content: "Graphic Design | Web Development | UX Design";
  color: white;
  font-weight: lighter;
  font-size: 20px; 
  z-index: 10;
  display: block;
  position: fixed;
  top:300px;
  left:0;
  right:0;
  width:relative;
  height:250px;
  background: rgba(0, 0, 0, 0.5);
}

#locator { 
	position: absolute; 
	visibility: visible; 
	left: 20px; 
	top: 60px; 
	z-index: 200; 
} 